# Editor files
.DS_Store
*/.DS_Store
.idea/
*/__pycache__/
*/*/__pycache__/

# Latex compiled files
interim-report/interim.aux
interim-report/interim.bbl
interim-report/interim.blg
interim-report/interim.log
interim-report/interim.out
interim-report/interim.run.xml
interim-report/interim-blx.bib
interim-report/interim.toc

report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.out
report/report.run.xml
report/report-blx.bib
report/report.toc
report/report.lof
report/report.lot
